<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <main>
      <nav>
        <header>
          <%= link_to 'Bluit', '/' %>
        </header>
        <div class="nav">
          <% if current_user %>
          <%= "Welcome, " %>
          <%= link_to current_user.username, user_url(current_user) %>
          <%= button_to 'Sign Out', session_url, method: :delete %>
          <% else %>
          <%= button_to 'Sign Up', new_user_url, method: :get %>
          <%= button_to 'Sign In', new_session_url, method: :get %>
          <% end %>
        </div>
      </nav>

      <% flash[:errors].try(:each) do |error_msg| %>
      <%= error_msg %><br>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
